* {
    margin: 0;
    padding: 0;
    transition: .5s ease-in-out;
}

/* .comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
 */

body {
    min-height: 100dvh;
    background: url(media/IMG/fondo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        position: absolute;
        top: 15%;
        width: 100%;
        text-align: center;

        font-family: "Comic Relief", system-ui;
        font-weight: 700;
        color: #E927D6;
        font-size: 1.5em;

        animation: appear .5s;

        mark {
            background-color: white;
            color: #E927D6;
            font-size: .8em;

        }
    }

    p#t2 {
        top: 75%;
    }

    P#t3 {
        top: 50%;
        transform: translate(0, -50%) rotate(-10deg);
        font-size: 8em;
    }
}

#contenedor {
    position: relative;
    width: 90vw;
    height: 36vh;
    /* transform: translate(0, -10%); */

    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.062);



    p {
        position: absolute;
        top: 15%;
        width: 100%;
        text-align: center;

        font-family: "Comic Relief", system-ui;
        font-weight: 700;
        color: #E927D6;
        font-size: 1.5em;
    }

    img {
        width: inherit;
        position: absolute;
    }
}

/* INGREDIENTES */
.hide {
    opacity: 0%;
}

.show {
    opacity: 100%;
}

.move-vertical {
    animation: move-vertical 1s ease-in infinite alternate;
}

.collage {
    animation: appear 1s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
}

/* ANIMACIONESS */

@keyframes move-vertical {
    0% {
        transform: translate(0, -3%);
    }

    100% {
        transform: translate(0, 3%);
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}