* {
    margin: 0;
    padding: 0;
    transition: .5s ease-in-out;
}

/* .comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
 */

body {
    min-height: 100dvh;
    background: url(media/IMG/fondo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        position: absolute;
        top: 15%;
        width: 100%;
        text-align: center;

        font-family: "Comic Relief", system-ui;
        font-weight: 700;
        color: #E927D6;
        font-size: 1.5em;

        animation: appear .5s;

        mark {
            background-color: white;
            color: #E927D6;
            font-size: .8em;

        }
    }

    p#t2 {
        top: 75%;
    }

    P#t3 {
        top: 50%;
        transform: translate(0, -50%) rotate(-10deg);
        font-size: 8em;
    }
}

#contenedor {
    position: relative;
    width: 90vw;
    height: 36vh;
    /* transform: translate(0, -10%); */

    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.062);



    p {
        position: absolute;
        top: 15%;
        width: 100%;
        text-align: center;

        font-family: "Comic Relief", system-ui;
        font-weight: 700;
        color: #E927D6;
        font-size: 1.5em;
    }

    img {
        width: inherit;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .fondo {
        min-height: 100%;
        object-fit: cover;
        object-position: center;

        inset: 0;
        margin: auto;
    }
}


@media screen and (min-width: 1000px) {
    #contenedor {
        width: 60vw;
        height: 60vh;

        p{
            font-size: 2.5em;
        }

        img {
            width: auto;
            height: inherit;
            position: absolute;
        }

        .fondo {
            min-width: 100%;
        }

    }

    body {
        .collage {
            max-height: 70vh;
            width: auto;
        }



        p {
            font-size: 2.5em;
        }

        P#t3 {
            top: 50%;
            transform: translate(0, -50%) rotate(-10deg);
            font-size: 10em;
        }


    }



}

/* INGREDIENTES */
.hide {
    opacity: 0%;
}

.show {
    opacity: 100%;
}

.move-vertical {
    animation: move-vertical 1s ease-in infinite alternate;
}

.move-vertical2 {
    animation: move-vertical 1.2s ease-in infinite alternate;
}

.move-vertical3 {
    animation: move-vertical .8s ease-in infinite alternate;
}

.collage {
    width: 70vw;
    animation: appear 1s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
}

.beat {
    animation: beat .8s infinite ease-in alternate;
}

.beat2 {
    animation: beat 1s infinite ease-in alternate;
}

.beat3 {
    animation: beat 1.2s infinite ease-in alternate;
}

.slide {
    animation: slide .6s infinite linear alternate;

}

.slideFast {
    animation: slide .1s infinite linear alternate;
}

.slideFaster {
    animation: slide .05s infinite linear alternate;
}

.tilt {
    animation: tilt 1s infinite ease-in-out alternate;
}

.tilt2 {
    animation: tilt .5s infinite ease-in-out alternate;
}

/* ANIMACIONESS */
@keyframes move-vertical {
    0% {
        transform: translate(0, -3%);
    }

    100% {
        transform: translate(0, 3%);
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes beat {
    0% {
        transform: scale(95%);
    }

    100% {
        transform: scale(105%);
    }
}

@keyframes slide {
    0% {
        transform: translate(-1%, 0);
    }

    100% {
        transform: translate(1%, 0);
    }
}

@keyframes tilt {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes tilt2 {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}